/********************************
 * {{ .GoName }} {{- $allFields := .Fields }} {{ if .AutoIncrementField }}autoincrement: {{ .AutoIncrementField }}{{ end }}
{{- range $i, $f := .Fields }}
 * 	{{ $f.GoName}} {{ $f.GoType }} {{ $f.SQLName }} {{ if $f.InPrimaryKey }} <primary> {{ end }} {{ if and ($.AutoIncrementField) (eq $f.GoName $.AutoIncrementField.GoName) }} <autoincrement> {{ end }}
{{- end }}
{{ if .PrimaryKey }} * Primary index: {{ .PrimaryKey }}{{ end }}
{{- if len .UniqIndexes }}
 * Unique indexes: {{ range $n, $idx := .UniqIndexes }}
 *  {{ $n }}: {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}
 {{- end }}
{{- end }}
{{- if len .NonUniqIndexes }}
 * Non unique indexes: {{ range $n, $idx := .NonUniqIndexes }}
 *  {{ $n }}: {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}
 {{- end }}
{{- end }}
 ********************************/

type {{ .GoName }}s []*{{ .GoName }}

func (e *{{ .GoName }}) Insert(ctx context.Context, insertOptions ...InsertOption) (err error) {
    dbExecutor := fromContext(ctx)
    var sql, returning string
    var args []any

    {{ if .AutoIncrementField }}if e.{{ .AutoIncrementField.GoName }} == 0 {
        sql = `INSERT INTO "{{ .SQLName }}" ({{ range $i, $f := .FieldsExcludeAutoIncrement }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }})
        VALUES ({{ range $i, $f := .FieldsExcludeAutoIncrement }}{{ if $i }}, {{ end }}${{ add $i 1 }}{{ end }})`
        returning = ` RETURNING {{ .AutoIncrementField.SQLName }}`
        args = []any{ {{ range $i, $f := .FieldsExcludeAutoIncrement }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }} }
    } else {
        sql = `INSERT INTO "{{ .SQLName }}" ({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }})
        VALUES ({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}${{ add $i 1 }}{{ end }})`
        args = []any{ {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }} }
    }{{ else }}
    sql = `INSERT INTO "{{ .SQLName }}" ({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }})
    VALUES ({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}${{ add $i 1 }}{{ end }})`
    args = []any{ {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }} }
    {{ end }}

    var returnAndUpdateVals bool
	for _, opt := range insertOptions {
		if opt.ReturnAndUpdateVals {
			returnAndUpdateVals = true
		}
		if opt.OnConflictStatement != "" {
			sql += " ON CONFLICT "+ opt.OnConflictStatement
		}
	}
    
    if returnAndUpdateVals {
        returning = ` RETURNING {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}`
    }
    if returning != "" {
        sql += returning
    }

	var rows pgx.Rows
	rows, err = dbExecutor.Query(ctx, sql, args...)
	defer func(){
		rows.Close()
		if err == nil {
			err = rows.Err()
		}
		if err != nil {
			err = fmt.Errorf("Insert query '%s' failed: %+v", sql, err)
		}
	}()

    if returnAndUpdateVals {
		if ! rows.Next() {
            // TODO: on conflict do nothing case
            return fmt.Errorf("Insert-query doesn't return anything, but has returning clause")
        }

        if err = rows.Scan(
			{{- range $i, $f := .Fields }}
			&e.{{ $f.GoName }},
			{{- end }}
		); err != nil {
            return
        }
    }{{ if .AutoIncrementField }} else if e.{{ .AutoIncrementField.GoName }} == 0 {
        if ! rows.Next() {
            // TODO: on conflict do nothing case
            return fmt.Errorf("Insert-query doesn't return anything, but has returning clause")
        }

        if err = rows.Scan(&e.{{ .AutoIncrementField.GoName }}); err != nil {
            return
        }
    }{{ end }}

	return nil
}

func (es {{ .GoName }}s) Insert(ctx context.Context, insertOptions ...InsertOption) (err error) {
	dbExecutor := fromContext(ctx)
    var sql string
    var sqlRows []string
    var args []any

    if len(es) == 0 {
        return nil
    }

    {{ if .AutoIncrementField }}if es[0].{{ .AutoIncrementField.GoName }} == 0 {
        sql = `INSERT INTO "{{ .SQLName }}" ({{ .AutoIncrementField.SQLName }}{{ range $i, $f := .FieldsExcludeAutoIncrement }}, {{ $f.SQLName }}{{ end }}) VALUES `
        for i, e := range es {
            sqlRows = append(sqlRows, fmt.Sprintf(`(DEFAULT{{ range $i, $f := .FieldsExcludeAutoIncrement }}, $%d{{ end }})`{{ range $i, $f := .FieldsExcludeAutoIncrement }}, i * {{ len $.FieldsExcludeAutoIncrement }} + {{ add $i 1 }}{{ end }}))
            args = append(args, {{ range $i, $f := .FieldsExcludeAutoIncrement }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }})
        }
    } else {
        sql = `INSERT INTO "{{ .SQLName }}" ({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}) VALUES `
        for i, e := range es {
            sqlRows = append(sqlRows, fmt.Sprintf(`({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}$%d{{ end }})`{{ range $i, $f := .Fields }}, i * {{ len $.Fields }} + {{ add $i 1 }}{{ end }}))
            args = append(args, {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }})
        }
    }{{ else }}
    sql = `INSERT INTO "{{ .SQLName }}" ({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}) VALUES `
    for i, e := range es {
        sqlRows = append(sqlRows, fmt.Sprintf(`({{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}$%d{{ end }})`{{ range $i, $f := .Fields }}, i * {{ len $.Fields }} + {{ add $i 1 }}{{ end }}))
        args = append(args, {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }})
    }
    {{ end }}

    sql += strings.Join(sqlRows, ", ")

	for _, opt := range insertOptions {
		if opt.ReturnAndUpdateVals {
			err = fmt.Errorf("ReturnAndUpdateVals option is not supported for multi-insert now")
            return
		}
		if opt.OnConflictStatement != "" {
			sql += " ON CONFLICT "+ opt.OnConflictStatement
		}
	}

	_, err = dbExecutor.Exec(ctx, sql, args...)
    if err != nil {
        err = fmt.Errorf("Insert query '%s' failed: %+v", sql, err)
    }

	return
}

{{ if .PrimaryKey }} {{ $primaryKey := index .UniqIndexes .PrimaryKey }}{{ $autoIncrementField := .AutoIncrementField }}
func (e *{{ .GoName }}) Update(ctx context.Context) (err error) {
	dbExecutor := fromContext(ctx)

	sql := `UPDATE "{{ .SQLName }}" SET {{ range $i, $f := .FieldsExcludePrimaryKey }}{{ if $i }}, {{ end }}{{ $f.SQLName }} = ${{ add $i 1 }}{{ end }}	WHERE {{ range $i, $f := $primaryKey }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = ${{ add 1 $i (len $.FieldsExcludePrimaryKey) }}{{ end }}`
	_, err = dbExecutor.Exec(ctx, sql, {{ range $i, $f := .FieldsExcludePrimaryKey }}e.{{ $f.GoName }}, {{ end }}{{ range $i, $f := $primaryKey }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }});
    if err != nil {
        err = fmt.Errorf("Update query '%s' failed: %+v", sql, err)
    }

	return
}

func (e *{{ .GoName }}) Delete(ctx context.Context) (err error) {
	dbExecutor := fromContext(ctx)

	sql := `DELETE FROM "{{ .SQLName }}" WHERE {{ range $i, $f := $primaryKey }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = ${{ add $f.Num 1 }}{{ end }}`
	_, err = dbExecutor.Exec(
		ctx,
		sql,
		{{ range $f := $primaryKey }}e.{{ $f.GoName }}, {{ end }}
	);
    if err != nil {
        err = fmt.Errorf("Delete query '%s' failed: %+v", sql, err)
    }

	return
}

func (es {{ .GoName }}s) Delete(ctx context.Context) (err error) {
	dbExecutor := fromContext(ctx)

	sql := `DELETE FROM "{{ .SQLName }}" WHERE `
    rowsSql := make([]string, len(es))
    var args []any

    for i, e := range es {
        rowsSql[i] = fmt.Sprintf(`({{ range $i, $f := $primaryKey }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = $%d{{ end }})`,
            {{ range $i, $f := $primaryKey }}{{ if $i }}, {{ end }}i * {{ len $primaryKey }} + {{ add 1 $i }}{{ end }})
        args = append(args, {{ range $i, $f := $primaryKey }}{{ if $i }}, {{ end }}e.{{ $f.GoName }}{{ end }})
    }

    sql = sql + strings.Join(rowsSql, " OR ")

	_, err = dbExecutor.Exec(ctx, sql, args...);
    if err != nil {
        err = fmt.Errorf("Delete query '%s' failed: %+v", sql, err)
    }

	return
}
{{ end }}

func ({{ .GoName }}) Find(ctx context.Context, condition string, values []interface{}) (entities {{ .GoName }}s, err error) {

    return {{ .GoName }}{}.Query(
        ctx,
        `SELECT {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}
	    FROM "{{ .SQLName }}"
	    WHERE ` + condition,
        values,
    )
}

func ({{ .GoName }}) FindCh(ctx context.Context, condition string, values []interface{}, entitiesCh chan<- *{{ .GoName }}, errCh chan<- error) {

    {{ .GoName }}{}.QueryCh(
        ctx,
        `SELECT {{ range $i, $f := .Fields }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}
	    FROM "{{ .SQLName }}"
	    WHERE ` + condition,
        values,
        entitiesCh,
        errCh,
    )
}

func ({{ .GoName }}) Query(ctx context.Context, sql string, values []interface{}) (entities {{ .GoName }}s, err error) {

	dbExecutor := fromContext(ctx)

	var rows pgx.Rows
	rows, err = dbExecutor.Query(
		ctx,
		sql,
		values...
	)
	defer func(){
		rows.Close()
		if err == nil {
			err = rows.Err()
		}
		if err != nil {
            if len(sql) > 500 {
                sql = sql[:500] + "..."
            }

			err = fmt.Errorf("Query '%s' failed: %+v", sql, err)
		}
	}()

	for rows.Next() {

		e := {{ .GoName }}{}

		if err = rows.Scan(
			{{- range $i, $f := .Fields }}
			&e.{{ $f.GoName }},
			{{- end }}	
		); err != nil {
            return
        }

		entities = append(entities, &e)
	}

	return entities, nil
}

func ({{ .GoName }}) QueryCh(ctx context.Context, sql string, values []interface{}, entitiesCh chan<- *{{ .GoName }}, errCh chan<- error) {

	var (
		err error
		rows pgx.Rows
	)

    defer func(){
        if err != nil {
            errCh <- err
        }
        close(errCh)
        close(entitiesCh)
    }()

	dbExecutor := fromContext(ctx)

	rows, err = dbExecutor.Query(ctx, sql, values...)
	defer func(){
		rows.Close()
		if err == nil {
			err = rows.Err()
		}
		if err != nil {
			if len(sql) > 500 {
				sql = sql[:500] + "..."
			}

			err = fmt.Errorf("Query '%s' failed: %+v", sql, err)
		}
	}()

    if err != nil {
        return
    }

    for rows.Next() {

		e := {{ .GoName }}{}

		if err = rows.Scan(
			{{- range $i, $f := .Fields }}
			&e.{{ $f.GoName }},
			{{- end }}	
		); err != nil {
            errCh <- err
            return
        }

		entitiesCh <- &e
	}

    return
}

func (e {{ .GoName }}) GetAll(ctx context.Context) ({{ .GoName }}s, error) {
	return e.Find(ctx, "1=1", []any{})
}

func (e {{ .GoName }}) GetAllCh(ctx context.Context, entitiesCh chan<- *{{ .GoName }}, errCh chan<- error) {
	e.FindCh(ctx, "1=1", []any{}, entitiesCh, errCh)
}

{{ if len .UniqIndexes }} {{ $entityGoName := .GoName }}
	{{- range $n, $idx := .UniqIndexes }}
func (e {{ $entityGoName }}) GetBy{{ snake_case_to_camel_case $n true }}(ctx context.Context, {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }} {{ $f.GoType }}{{ end }}) (*{{ $entityGoName }}, error) {
	es, err := e.Find(
		ctx,
		"{{ range $i, $f := $idx }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = ${{ add 1 $i }}{{ end }}",
		[]any{ {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }}{{ end }} },
	)
	if err != nil {
		return nil, err
	}
	if len(es) == 1 {
		return es[0], nil
	}

	return nil, nil
}

func (e {{ $entityGoName }}) MultiGetBy{{ snake_case_to_camel_case $n true }}(ctx context.Context, {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }} []{{ $f.GoType }}{{ end }}) ({{ $entityGoName }}s, error) {
	{{ $firstParam := snake_case_to_camel_case (index $idx 0).SQLName false }}
	var params []any = make([]any, 0, len({{ $firstParam }}) * {{ len $idx }})

	where := make([]string, len({{ $firstParam }}))
	for i := range {{ $firstParam }} {
		where[i] = fmt.Sprintf("({{ range $i, $f := $idx }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = $%d{{ end }})"{{ range $i, $f := $idx }}, {{ add 1 $i }} + i{{ end }})
		params = append(params, {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }}[i]{{ end }})
	}

	return e.Find(ctx, strings.Join(where, " OR "), params)
}

func (e {{ $entityGoName }}) MultiGetBy{{ snake_case_to_camel_case $n true }}Ch(ctx context.Context, {{ range $f := $idx }}{{ snake_case_to_camel_case $f.SQLName false }} []{{ $f.GoType }}, {{ end }}entitiesCh chan<- *{{ $entityGoName }}, errCh chan<- error) {
	{{ $firstParam := snake_case_to_camel_case (index $idx 0).SQLName false }}
	var params []any = make([]any, 0, len({{ $firstParam }}) * {{ len $idx }})

	where := make([]string, len({{ $firstParam }}))
	for i := range {{ $firstParam }} {
		where[i] = fmt.Sprintf("({{ range $i, $f := $idx }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = $%d{{ end }})"{{ range $i, $f := $idx }}, {{ add 1 $i }} + i{{ end }})
		params = append(params, {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }}[i]{{ end }})
	}

	e.FindCh(ctx, strings.Join(where, " OR "), params, entitiesCh, errCh)
}
	{{- end }}
{{- end }}

{{if len .NonUniqIndexes }} {{ $entityGoName := .GoName }}
	{{- range $n, $idx := .NonUniqIndexes }}
func (e {{ $entityGoName }}) GetBy{{ snake_case_to_camel_case $n true }}(ctx context.Context, {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }} {{ $f.GoType }}{{ end }}) ({{ $entityGoName }}s, error) {
	return e.Find(
		ctx,
		"{{ range $i, $f := $idx }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = ${{ add 1 $i }}{{ end }}",
		[]any{ {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }}{{ end }} },
	)
}

func (e {{ $entityGoName }}) GetBy{{ snake_case_to_camel_case $n true }}Ch(ctx context.Context, {{ range $f := $idx }}{{ snake_case_to_camel_case $f.SQLName false }} {{ $f.GoType }}, {{ end }}entitiesCh chan<- *{{ $entityGoName }}, errCh chan<- error) {
	e.FindCh(
		ctx,
		"{{ range $i, $f := $idx }}{{ if $i }} AND {{ end }}{{ $f.SQLName }} = ${{ add 1 $i }}{{ end }}",
		[]any{ {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ snake_case_to_camel_case $f.SQLName false }}{{ end }} },
		entitiesCh,
		errCh,
	)
}
	{{- end }}
{{- end }}
