/********************************
 * {{ .GoName }}
{{- range $i, $f := .Fields }}
 * 	{{ $f.GoName}} {{ $f.GoType }} {{ $f.SQLName }} {{ if $f.InPrimaryKey }} <primary> {{ end }} {{ if and ($.AutoIncrementField) (eq $f.GoName $.AutoIncrementField.GoName) }} <autoincrement> {{ end }}
{{- end }}
{{ if .PrimaryKey }} * Primary index: {{ .PrimaryKey }}{{ end }}
{{- if len .UniqIndexes }}
 * Unique indexes: {{ range $n, $idx := .UniqIndexes }}
 *  {{ $n }}: {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}
 {{- end }}
{{- end }}
{{- if len .NonUniqIndexes }}
 * Non unique indexes: {{ range $n, $idx := .NonUniqIndexes }}
 *  {{ $n }}: {{ range $i, $f := $idx }}{{ if $i }}, {{ end }}{{ $f.SQLName }}{{ end }}
 {{- end }}
{{- end }}
 ********************************/

type {{ .GoName }}s []*{{ .GoName }}

type {{ .GoName }}OrErr struct {
    Entity *{{ .GoName }}
    Err error
}

{{ template "routines_create.go.tmpl" . }}

{{ template "routines_read.go.tmpl" . }}

{{ template "routines_update.go.tmpl" . }}

{{ template "routines_delete.go.tmpl" . }}
